<div class="header">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Konfiguration</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Diagramme</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Logdateien</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Updates</a>
        </li>
        <li class="nav-item" style="float:right;">
            <a class="nav-link" href="#">Hilfe</a>
        </li>
    </ul>
</div>
